Repository gdcc/pyDataverse: changes, and which Codecov flags are due for each by the changed paths.
All: library, docs

join urls via urllib
  src/pyDataverse/api.py
Due: library

remove trailing slashes
  tests/api/test_api.py
Due: none

remove trailing slashes
  tests/conftest.py
Due: none

typo
  .github/workflows/test_build.yml
Due: none

add dv_version to env
  .github/workflows/test_build.yml
Due: none

provide container dv version
  .github/workflows/test_build.yml
Due: none

add badge
  README.md
Due: docs

test from 3.7 on
  .github/workflows/test_build.yml
Due: none

changed action branch to `main`
  .github/workflows/test_build.yml
Due: none

change repo status to `active`
  README.md
Due: docs

minor fixes
  .gitignore
  README.md
  src/pyDataverse/docs/source/_templates/layout.html
  tests/data/datafile_upload_full.json
  tests/data/dataverse_upload_full.json
Due: library, docs

minor fixes
  src/pyDataverse/api.py
  src/pyDataverse/docs/source/community/contact.rst
Due: library, docs

add working group info
  README.md
Due: docs

ignore test and macOS artifacts
  .gitignore
Due: none

add local testing and instructions
  README.md
  docker-compose-test.yml
  local-test.env
  run-tests.sh
Due: docs

write test results to file
  docker-compose-test.yml
Due: none

pretty printing and logging
  run-tests.sh
Due: none

guess mimetype prior to upload
  src/pyDataverse/api.py
Due: library

migrate to `httpx` for client requests
  requirements/common.txt
  setup.py
  src/pyDataverse/api.py
Due: library

use `Response` object from `httpx`
  tests/api/test_api.py
Due: none

test file upload and replacement
  tests/api/test_upload.py
  tests/data/file_upload_ds_minimum.json
  tests/data/replace.xyz
Due: none

replace requests exceptions and import `urllib3`
  src/pyDataverse/__init__.py
  src/pyDataverse/api.py
Due: library

drop `3.7` in favor of `httpx`
  .github/workflows/test_build.yml
Due: none

add docstring for test
  tests/api/test_upload.py
Due: none

remove doc artifact
  tests/api/test_upload.py
Due: none

Update README.md
  README.md
Due: docs

async pytest dep
  requirements/tests.txt
Due: none

async context manager and requests
  src/pyDataverse/api.py
Due: library

test async functions
  tests/api/test_async_api.py
Due: none

add docs and refactor kwarg filter
  src/pyDataverse/api.py
Due: library

remove unused import
  tests/api/test_async_api.py
Due: none

Add rudimentary codespell config
  setup.cfg
Due: none

Add pre-commit definition for codespell
  .pre-commit-config.yaml
Due: none

Add github action to codespell master on push and PRs
  .github/workflows/codespell.yml
Due: none

Skip data from codespell
  setup.cfg
Due: none

[DATALAD RUNCMD] run codespell throughout fixing typos automagically
  src/pyDataverse/api.py
  src/pyDataverse/docs/source/user/csv-templates.rst
  src/pyDataverse/docs/source/user/installation.rst
  src/pyDataverse/utils.py
  tests/api/test_api.py
  tests/api/test_upload.py
Due: library, docs

add `Optional` typing for `api_token`
  src/pyDataverse/api.py
Due: library

remove in favor of `pyproject.toml`
  setup.cfg
  setup.py
Due: none

initial `pyproject.toml`
  pyproject.toml
Due: none

ignore `poetry.lock` file
  .gitignore
Due: none

Path conditions:
  library: any of: src/pyDataverse/
  docs: any of: src/pyDataverse/docs/, HISTORY.rst, CONTRIBUTING.rst, *.md, *.rst, *.txt
