Repository gdcc/pyDataverse: changes, and which Codecov flags are due for each by the changed paths.
All: library, docs

fix issues for codecov
  .coveragerc
  .travis.yml
  requirements/tests.txt
  setup.cfg
Due: none

fix issues for codecov
  .travis.yml
Due: none

fix issue: codecov
  .travis.yml
  tox.ini
Due: none

fix issue: codecov #5
  .travis.yml
Due: none

fix issue: codecov #6
  .travis.yml
  tox.ini
Due: none

fix issue: codecov #7
  .coveragerc
  .travis.yml
Due: none

fix issue: codecov #8
  .coveragerc
  .travis.yml
  tox.ini
Due: none

fix issue: codecov #9
  .travis.yml
Due: none

fix issue: codecov #10
  .travis.yml
Due: none

fix issue: codecov #11
  .travis.yml
Due: none

add codecov and update tox
  .coveragerc
  .readthedocs.yml
  .travis.yml
  codecov.yml
  requirements/lint.txt
  setup.cfg
  tox.ini
Due: none

Update pre-commit
  .pre-commit-config.yaml
  requirements/common.txt
  requirements/development.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/tests.txt
  setup.cfg
  setup.py
  src/pyDataverse/__init__.py
  src/pyDataverse/api.py
  src/pyDataverse/docs/source/conf.py
  src/pyDataverse/docs/source/index.rst
  src/pyDataverse/docs/source/user/advanced-usage.rst
  src/pyDataverse/docs/source/user/basic-usage.rst
  src/pyDataverse/models.py
  tests/api/test_api.py
  tests/conftest.py
  tests/models/test_datafile.py
  tests/models/test_dataset.py
  tests/models/test_dataverse.py
  tests/utils/test_utils.py
Due: library, docs

fix minor docs issues
  CONTRIBUTING.rst
  README.md
  src/pyDataverse/docs/source/reference.rst
Due: library, docs

fix issue: flake8 exlude filenames without dir
  setup.cfg
Due: none

small fixes in requirements
  requirements/development.txt
  requirements/docs.txt
  requirements/packaging.txt
  requirements/tests.txt
Due: none

add aiohttp and asyncio to requirements
  requirements/common.txt
  setup.py
Due: none

Add info on minor release
  src/pyDataverse/docs/source/user/basic-usage.rst
Due: library, docs

Pin dependencies for build issue
  requirements/docs.txt
Due: none

Added a way to supply the mime type to upload_datafile(); and made the method use the default content type when encoding the POST request if it's not supplied explicitly. (#118)
  src/pyDataverse/api.py
Due: library

update matomo to new instance
  src/pyDataverse/docs/source/_templates/layout.html
Due: library, docs

fix newer dataverse compatibility by adding content-type=application/json header
  src/pyDataverse/api.py
Due: library

- do not delete params in put_request - fix replace documentation and parametrization in edit_dataset_metadata
  src/pyDataverse/api.py
Due: library

Made request streamable tobe able to get their raw data
  src/pyDataverse/api.py
Due: library

Fix edit_dataset_metadata docstring
  src/pyDataverse/api.py
Due: library

fix broken link in API reference #147
  src/pyDataverse/api.py
Due: library

Fix docstring of replace_datafile
  src/pyDataverse/api.py
Due: library

add repo status badge
  README.md
Due: docs

add repo status to docs
  src/pyDataverse/docs/source/index.rst
Due: library, docs

fix docs issue
  src/pyDataverse/docs/source/index.rst
Due: library, docs

Add missing metadata formats to comment
  src/pyDataverse/api.py
Due: library

start explaining how to run Dataverse in containers #70
  .gitignore
  README-containers.md
  docker-compose-dev.yml
Due: docs

Conda install added
  src/pyDataverse/docs/source/user/installation.rst
Due: library, docs

conda-forge distribution added to release steps
  CONTRIBUTING.rst
Due: docs

Conda install added alongside pip
  src/pyDataverse/docs/source/index.rst
Due: library, docs

typo removed
  CONTRIBUTING.rst
Due: docs

conda-forge badge added
  README.md
Due: docs

Path conditions:
  library: any of: src/pyDataverse/
  docs: any of: src/pyDataverse/docs/, HISTORY.rst, CONTRIBUTING.rst, *.md, *.rst, *.txt
