Repository gdcc/pyDataverse: changes, and which Codecov flags are due for each by the changed paths.
All: library, docs

codecov.yml:

codecov:
  branch: master

flags:
  library:
    paths:
    - src/pyDataverse/
  docs:
    paths:
    - src/pyDataverse/docs/
    - HISTORY.rst
    - CONTRIBUTING.rst
    - "*.md"
    - "*.rst"
    - "*.txt"

remove `backend-path`
  pyproject.toml
Due: none

fix naming and include from `src`
  pyproject.toml
Due: none

remove dependecy groups
  requirements/common.txt
  requirements/development.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/packaging.txt
  requirements/production.txt
  requirements/tests.txt
Due: none

add tested dependencies
  requirements.txt
Due: docs

adapt workflow to poetry
  .github/workflows/tests.yml
Due: none

test successful library build
  .github/workflows/build.yml
Due: none

set dev groups optional
  pyproject.toml
Due: none

adapt to poetry
  .github/workflows/tests.yml
Due: none

fix misspelled words
  tests/data/dataset_upload_full_default.json
Due: none

add publish workflow
  .github/workflows/publish.yml
Due: none

move to separate directory
  docker-compose-test.yml
Due: none

split flavors for individual use cases
  docker/docker-compose-base.yml
  docker/docker-compose-test-all.yml
Due: none

adapt to multiple compose files
  run-tests.sh
Due: none

extend documentation
  README.md
Due: docs

use bold instead of headings
  README.md
Due: docs

add mkdocs
  docs/index.md
  mkdocs.yml
Due: none

move old docs for now from `src`
  old_docs/docs/source/_images/collection_dataset.png
  old_docs/docs/source/_static/.gitkeep
  old_docs/docs/source/_templates/layout.html
  old_docs/docs/source/_templates/sidebar_intro.html
  old_docs/docs/source/_templates/sidebar_related-links.html
  old_docs/docs/source/community/contact.rst
  old_docs/docs/source/community/releases.rst
  old_docs/docs/source/conf.py
  old_docs/docs/source/contributing/contributing.rst
  old_docs/docs/source/index.rst
  old_docs/docs/source/reference.rst
  old_docs/docs/source/snippets/pip-install.rst
  old_docs/docs/source/snippets/requirements.rst
  old_docs/docs/source/snippets/warning_production.rst
  old_docs/docs/source/user/advanced-usage.rst
  old_docs/docs/source/user/basic-usage.rst
  old_docs/docs/source/user/csv-templates.rst
  old_docs/docs/source/user/faq.rst
  old_docs/docs/source/user/installation.rst
  old_docs/docs/source/user/resources.rst
  old_docs/docs/source/user/use-cases.rst
  requirements/docs.txt
  scripts/gen_ref_pages.py
Due: none

do not ignore `/docs`
  .gitignore
Due: none

follow redirects
  src/pyDataverse/api.py
Due: library

switch cases for pid and non-pid
  src/pyDataverse/api.py
Due: library

add tests for datafile fetching
  tests/api/test_access.py
Due: none

add missing `urllib3` dependency
  requirements/common.txt
Due: none

fix codespell
  src/pyDataverse/api.py
Due: library

fix merge conflict
  src/pyDataverse/api.py
Due: library

move source code from `src` to root
  pyDataverse/__init__.py
  pyDataverse/api.py
  pyDataverse/docs/source/_images/collection_dataset.png
  pyDataverse/docs/source/_static/.gitkeep
  pyDataverse/docs/source/_templates/layout.html
  pyDataverse/docs/source/_templates/sidebar_intro.html
  pyDataverse/docs/source/_templates/sidebar_related-links.html
  pyDataverse/docs/source/community/contact.rst
  pyDataverse/docs/source/community/releases.rst
  pyDataverse/docs/source/conf.py
  pyDataverse/docs/source/contributing/contributing.rst
  pyDataverse/docs/source/index.rst
  pyDataverse/docs/source/reference.rst
  pyDataverse/docs/source/snippets/pip-install.rst
  pyDataverse/docs/source/snippets/requirements.rst
  pyDataverse/docs/source/snippets/warning_production.rst
  pyDataverse/docs/source/user/advanced-usage.rst
  pyDataverse/docs/source/user/basic-usage.rst
  pyDataverse/docs/source/user/csv-templates.rst
  pyDataverse/docs/source/user/faq.rst
  pyDataverse/docs/source/user/installation.rst
  pyDataverse/docs/source/user/resources.rst
  pyDataverse/docs/source/user/use-cases.rst
  pyDataverse/exceptions.py
  pyDataverse/models.py
  pyDataverse/schemas/json/datafile_upload_schema.json
  pyDataverse/schemas/json/dataset_upload_default_schema.json
  pyDataverse/schemas/json/dataverse_upload_schema.json
  pyDataverse/schemas/json/dspace_schema.json
  pyDataverse/templates/datafiles.csv
  pyDataverse/templates/datasets.csv
  pyDataverse/templates/dataverses.csv
  pyDataverse/utils.py
Due: none

adapt to `src` move
  CONTRIBUTING.rst
  MANIFEST.in
  pyproject.toml
  tests/conftest.py
  tox.ini
Due: docs

remove unused `urllib3` dependency
  requirements.txt
Due: docs

remove unused imports
  tests/api/test_api.py
  tests/conftest.py
  tests/utils/test_utils.py
Due: none

comment out unused test variable
  tests/api/test_api.py
Due: none

add `ruff` lint workflow
  .github/workflows/lint.yml
Due: none

add ruff pre-commit
  .pre-commit-config.yaml
Due: none

ignore ruff-cache
  .gitignore
Due: none

adapt to new namespace
  .readthedocs.yml
Due: none

remove fix arg of formatter
  .pre-commit-config.yaml
Due: none

adapt to new namespace
  pyDataverse/docs/source/conf.py
Due: none

remove `flake8` and `pylint` for `ruff` linter
  pyproject.toml
Due: none

pass `data` as `json` to request method
  pyDataverse/api.py
Due: none

in README, link to https://py.gdcc.io
  README.md
Due: docs

main branch updates
  CONTRIBUTING.rst
  README.md
  pyDataverse/docs/source/index.rst
  pyDataverse/docs/source/user/installation.rst
Due: docs

fix `ini_options` wrong lib name
  pyproject.toml
Due: none
