Repository gdcc/pyDataverse: changes, and which Codecov flags are due for each by the changed paths.
All: library, docs

codecov.yml:

codecov:
  branch: master

flags:
  library:
    paths:
    - src/pyDataverse/
  docs:
    paths:
    - src/pyDataverse/docs/
    - HISTORY.rst
    - CONTRIBUTING.rst
    - "*.md"
    - "*.rst"
    - "*.txt"

conda-forge badge added to banner
  src/pyDataverse/docs/source/index.rst
Due: library, docs

updated README with /api/admin endpoints
  README.md
Due: docs

get_setting() and get_settings() added
  src/pyDataverse/api.py
Due: library

no auth neccessary for get_setting() and get_settings()
  src/pyDataverse/api.py
Due: library

README updated for get_settings() and get_setting()
  README.md
Due: docs

added list_auth_provider_factories()
  README.md
  src/pyDataverse/api.py
Due: library, docs

delete_setting(setting) added
  src/pyDataverse/api.py
Due: library

add list_role_assignments(identifier)
  src/pyDataverse/api.py
Due: library

add list_user(identifier)
  src/pyDataverse/api.py
Due: library

list_role_assignments(), show_role_assignee()
  README.md
  src/pyDataverse/api.py
Due: library, docs

list_permissions()
  README.md
  src/pyDataverse/api.py
Due: library, docs

reorder
  src/pyDataverse/api.py
Due: library

docstring fix
  src/pyDataverse/api.py
Due: library

list_auth_providers(), add_auth_provider(), show_auth_provider()
  src/pyDataverse/api.py
Due: library

update README to current status
  README.md
Due: docs

add URL of docs to docstrings
  src/pyDataverse/api.py
Due: library

add complete admin api to README
  README.md
Due: docs

configure_setting()
  README.md
  src/pyDataverse/api.py
Due: library, docs

list_users() cleaned up and disabled
  src/pyDataverse/api.py
Due: library

list_global_roles()
  README.md
  src/pyDataverse/api.py
Due: library, docs

create_global_role()
  README.md
  src/pyDataverse/api.py
Due: library, docs

update README + comments
  README.md
  src/pyDataverse/api.py
Due: library, docs

delete_global_role(role)
  src/pyDataverse/api.py
Due: library

README update for delete_global_role(role)
  README.md
Due: docs

fix docstring
  src/pyDataverse/api.py
Due: library

create_user(user_json)
  README.md
  src/pyDataverse/api.py
Due: library, docs

delete_auth_provider(id), check_auth_provider_enabled(id)
  README.md
  src/pyDataverse/api.py
Due: library, docs

- Added logic to set HTTPBasicAuth using api-token for get and post requests.
  src/pyDataverse/api.py
Due: library

merge_users(dest_acct, source_acct)
  README.md
  src/pyDataverse/api.py
Due: library, docs

change_user_identifier(old_identifier, new_identifier)
  README.md
  src/pyDataverse/api.py
Due: library, docs

superuser_toggle(identifier)
  README.md
  src/pyDataverse/api.py
Due: library, docs

deactivate_user(identifier)
  README.md
  src/pyDataverse/api.py
Due: library, docs

remove_user_roles(identifier)
  README.md
  src/pyDataverse/api.py
Due: library, docs

show_user_traces(identifier)
  README.md
  src/pyDataverse/api.py
Due: library, docs

add zulip channel
  README.md
Due: docs

fix README
  README.md
Due: docs

add workflow file for python 3.10
  .github/workflows/test_build.yml
Due: none

fetch url from env
  tests/conftest.py
Due: none

install pydataverse from src
  .github/workflows/test_build.yml
Due: none

superuser api token in env
  .github/workflows/test_build.yml
Due: none
